@import url("http://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("http://fonts.googleapis.com/css?family=VT323");

.App {
  text-align: center;
  font-family: "Press Start 2P", "VT323";

}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

}

body::-webkit-scrollbar {
  width: 0px;
}

.underline {
  text-decoration: underline;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input {
  width: 100%;
  background-color: #FFFFFFC0;
  color: #000;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #00000050;
  border-radius: 4px;
  cursor: pointer;
}


input:hover {
  background-color: #ebff12;
}

.checkbox {
  display: inline-block; 
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px #ddd solid;
  margin-right: 4px;
}

.checkbox--active {
  border-color: purple;
  background: purple;
}

a {
  text-decoration: none; /* no underline */
}